<div class="container">
    <h1>Chat de consulta</h1>
    <form class="form" onsubmit=" return addMessage(this)">
        <div class="input-group mb-3">
            <input type="text" id="nombre" class="form-control" placeholder="Nombre">
            <input type="number" id="precio" class="form-control" placeholder="Mensaaje">

            <button class="btn btn-outline-secondary sendMensaje" type="submit" id="button-addon2">Enviar</button>
        </div>
        <div class="form-floating mb-1">
            <label for="number">Precio</label>
            <input type="number" class="form-control" id="precio" placeholder="Precio del producto" name="precio" />
        </div>
        <div class="form-floating mb-1">
            <label for="name">Cantidad</label>
            <input type="number" class="form-control" id="cantidad" placeholder="Nombre del producto" name="cantidad" />
        </div>
        <div class="form-floating mb-1">
            <label for="text">Imagen</label>
            <input type="text" class="form-control" id="img" placeholder="Direccion de la foto del producto"
                name="img" />
        </div>
        <button type="submit" class="btn btn-primary">CARGAR</button>
    </form>
</div>