<div class="container">
    <h1>Carga de Productos</h1>
    <form class="form" onsubmit=" return addProduct(this)">
        <div class="input-group mb-3">
            <input type="text" id="nombre" class="form-control" placeholder="Nombre">
            <input type="text" id="img" class="form-control" placeholder="Imagen">
            <input type="number" id="cantidad" class="form-control" placeholder="Cantidad">
            <input type="number" id="precio" class="form-control" placeholder="Precio">
            <button class="btn btn-outline-secondary sendMensaje" type="submit" id="button-addon2">Enviar</button>
        </div>
    </form>
    <div id="productos" class="prod" mt-4 bgBox">
    </div>
</div>