<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
    integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
    crossorigin="anonymous"></script>
<script>
    const socket = io()
</script>
<script>
    function renderProd(produc) {
        const html = produc.map(item => {
            return (`
            <div class="card" style="width: 18rem;">
                <img src=${item.img} class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">${item.nombre}</h5>
                    <p class="card-text">$ ${item.precio}</p>
                    <p class="card-text">Cantida en stock: ${item.cantidad}</p>
                    <p clas="card-text"> ID: ${item.id}</p>
                    <a href="#" id="addCarrito" class="btn btn-primary">Agregar al carrito.</a>
                    <button type="submit" id="deleteProd" class="delete">x</button>
                </div>
            </div>
            `)
        }).join(' ')

        document.getElementById('productos').innerHTML = html
    }

    function addProduct() {
        const prodName = document.getElementById('nombre').value
        const imgProd = document.getElementById('img').value
        const cantidadProd = document.getElementById('cantidad').value
        const idProd = x = Math.floor(Math.random() * 9999999)
        const precioProd = document.getElementById('precio').value

        const products = {
            nombre: prodName,
            img: imgProd,
            cantidad: cantidadProd,
            id: idProd,
            precio: precioProd
        }

        document.getElementById('nombre').value = ' '
        document.getElementById('img').value = ' '
        document.getElementById('cantidad').value = ' '
        document.getElementById('precio').value = ' '

        socket.emit('new-products', products)
        return false
    }


    socket.on('products', produc => {
        renderProd(produc)
    })


</script>